.footer {
  background-color: #1e2024;
  color: white;
}
.footer_icon {
  color: white;
  font-size: 1.7rem;
  background: #31404b;
  width: 3rem;
  text-align: center;
  padding-bottom: 0.2rem;
  transition: 0.2s;
}
.footer_icon:hover {
  background-color: #2987ff !important;
}
.sub_footer {
  display: flex;
  gap: 9rem;
  padding: 3rem;
  justify-content: center;
}
.footer_icon:hover {
  background: #272f36;
}
.footer_social_title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.55rem;
}
.footer_social_media {
  display: flex;
  gap: 0.4rem;
  margin-top: 1rem;
}
.get_in_touch {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  width: fit-content;
  line-height: 2.9rem;
}
.footer_social_link {
  font-weight: 500;
  text-transform: lowercase;
  color: #ffffff;
  opacity: 0.6;
  font-size: 1.1rem;
  font-family: Montserrat;
}
.footer_social_link:hover {
  text-decoration: underline;
  color: white;
}

.social_link_icon {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 3px;
}
.Footer_social_follow {
  text-transform: uppercase;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.sub_footer_social_media {
  margin-top: 1rem;
}

.footer_tag {
  color: white;
  opacity: 0.7;
}
.footer_tag:hover {
  color: white;
  opacity: 0.7;
  text-decoration: underline;
}

