body{
  background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background: lavender;
    padding: 1.5rem;
}
.navbar_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11rem;
 
}
.nav_link_section{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.1rem;
}
.login{
    display: flex;
    align-items: center;
    gap: 2rem;
}
#login{
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: 0;
    color: white;
    cursor: pointer;
    background: #1e7fff;
}
#logout{
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: 0;
    color: white;
    cursor: pointer;
    background: #1e7fff;

}

.nav_title{
    font-size: 2.1rem;
    font-weight: 600;
    text-shadow: 0px 6px 5px #afa9a9
}
#big{
  color: #642eff
}
a{
    text-decoration: none;
    color: black;
}
.nav_link:active {
   
    text-decoration: underline 0.15em rgba(0, 0, 0, 1);
    text-underline-offset: 0.2em;
      transition: text-decoration-color 300ms, text-underline-offset 300ms;
    text-decoration-color: rgba(#2987FF);
    text-underline-offset: 0.4em;
    transition:0.2s;
}

.nav_link:hover {
    text-decoration: underline 0.15em rgba(0, 0, 0, 1);
    text-underline-offset: 0.2em;
      transition: text-decoration-color 300ms, text-underline-offset 300ms;
    text-decoration-color: rgba(0, 0, 255, 1);
    text-underline-offset: 0.4em;
  }
.shoping_cart{
    font-size: 1.5rem;
    cursor: pointer
}
.shoping_cart:hover{
  color:  #1E7FFF;
 
}
#getCartLength{
    color: #ff0000;
    font-weight: bold;
    font-size: 0.8rem;
    position: absolute;
    background: white;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    border-radius: 1rem;
    top: 2.3rem;
}

/* Backgorund Banner */

.bg_image{
   width: 100%;
   object-fit: cover;
   margin-top: 1rem;
   overflow: hidden;
   border-radius: 0.4rem;
    
} 

.hero_section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.react-slideshow-container .default-nav:first-of-type {

 background-color: #83A9A7;
    margin-left: 5rem;
    height: 4rem;
    border-radius: 0px;
}

.react-slideshow-container .default-nav:last-of-type {
    margin-right: 5rem;
    background-color:#83A9A7;
    height: 4rem;
    border-radius: 0px;
}
.react-slideshow-container .default-nav:first-of-type:hover{
background-color: #2987FF;
}
.react-slideshow-container .default-nav:last-of-type:hover{
background-color: #2987FF;
}

.react-slideshow-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
    overflow: hidden;
    justify-content: center;
}

#user_img{
    border-radius: 4rem;
    height: 2rem;
}
.auth_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 0.2rem;
}
#welcome{
    font-size: 1rem;
    font-weight: 400;
}
#user_name{
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    width: 8rem;
    text-overflow: ellipsis;
    text-align: center;
}
.sub_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.1;
}