.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page_404 img {
    width: 100%;
  }
  
  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
  }
  
  .four_zero_four_bg h1 {
    font-size: 84px;
    font-family: cursive;
    color: red;
    letter-spacing: 12px;
  }
  
  .four_zero_four_bg h3 {
    font-size: 2rem;
    margin-left: 10px;
    text-transform: capitalize;
    opacity: 0.6;
    font-weight: bold;
    font-family: cursive;
    margin-top: -2rem;
  }
  
  .contant_box_404 {
    margin-top: -50;
  }
  
  .box__button {
    display: block;
    position: relative;
    background: #1E7FFF;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-size: 18px;
    padding: 0 70px;
    white-space: nowrap;
    margin-top: 25px;
    transition: background 0.5s ease;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  
    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 100px;
      background: rgb(38, 49, 39);
      bottom: -25px;
      left: 0;
      border: 2px solid white;
      transform: translateX(-50px) rotate(45deg);
      transition: transform 0.5s ease;
    }
  
    &:hover {
      background: rgb(38, 49, 39);
      border-color: white;
  
      &:before {
        transform: translateX(250px) rotate(45deg);
      }
    }
  }