.product_container {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #e6e6fa;
}
.All_product_container {
  text-align: center;
  padding: 1rem;
  background-color: #e6e6fa;
}
h2 {
  font-size: 2rem;
  border-bottom: 1px solid grey;
  width: 86%;
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
.products_filter {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main_product {
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
  padding: 0.6rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;
  background: white;
  color: black;
  border: 0px;
}
.main_product:hover {
  background-color: #2987ff;
  color: white;
}
.product_content {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  justify-content: center;
  grid-gap: 0.6rem;
  margin-top: 3rem;
}
.sub_product_content {
  border: 2px solid grey;
  width: fit-content;
  margin-bottom: 4rem;
  padding: 0.6rem;
  padding-bottom: 2rem;
}
.sub_product_content:hover {
  color: white;
  background: linear-gradient(355deg, #050c44, transparent);
  width: fit-content;
}
.product_image {
  width: 14rem;
  object-fit: cover;
  height: 16rem;
}
.img_descripition {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
}
.title {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: sans-serif;
  width: 14rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.title:hover{
  text-decoration: underline;
  color: white;
}
.product_detail_link:hover{
  color: white;
}
.price {
  font-size: 1.2rem;
  font-weight: 600;
}
.price:hover{
  text-decoration: underline;
  color: white;
}
.buy_now {
  background: #2987ff;
  border: 0px;
  padding: 0.6rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
